body{
    background-color: slateblue;
}
.heading{
    width: 100%;
    font-size:22px;
}
.list_items,#results_of_object,#results_of_Accuracy{
  color:darkgoldenrod ;
}
#camera{
    width: 350px;
    height: 300px;
    border: 2px dashed black;
}